<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/narrow-jumbotron.css') }}" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <header class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Add Device</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/add_model">Add Model</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/list_device">List Device</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/list_model">List Model</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Project</h3>
      </header>

      <main role="main">
          <div class="form-group row">
            <label for="example-text-input" class="col-2 col-form-label">Device ID</label>
             <div class="col-10">
                <input class="form-control" type="text" value="" id="example-text-input">
             </div>
            </div>

        <div class="form-group row">
            <label for="example-search-input" class="col-2 col-form-label">Hostname</label>
            <div class="col-10">
            <input class="form-control" type="text" value="" id="example-search-input">
            </div>
        </div>

        <div class="form-group row">
            <label for="example-email-input" class="col-2 col-form-label">Model</label>
            <div class="col-10">
            <input class="form-control" type="text" value="" id="example-email-input">
        </div>
        </div>

          <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">Ser. Number</label>
            <div class="col-10">
            <input class="form-control" type="text" value="" id="example-url-input">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-url-input" class="col-2 col-form-label">Location</label>
            <div class="col-10">
            <input class="form-control" type="text" value="" id="example-url-input">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-number-input" class="col-2 col-form-label">Port Num.</label>
              <div class="col-10">
                  <input class="form-control" type="number" value="42" id="example-number-input">
                </div>
          </div>

        <div class="form-group row">
            <label for="example-password-input" class="col-2 col-form-label">Password</label>
            <div class="col-10">
            <input class="form-control" type="password" value="hunter2" id="example-password-input">
            </div>
        </div>


          <div class="form-group row">
              <label for="example-date-input" class="col-2 col-form-label">Instal. Date</label>
              <div class="col-10">
                  <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>
          </div>


          <div class="form-group row">
              <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
                <div class="col-10">
                    <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
                </div>
          </div>

          <div class="form-group row justify-content-end">
            <!-- Indicates a successful or positive action -->
            <button type="button" class="btn btn-success col-2">Apply</button>

                  <!-- Indicates a dangerous or potentially negative action -->
            <button type="button" class="btn btn-danger col-2">Cancel</button>
          <div class="clearfix"></div>
      </div>





<!--
        <div class="jumbotron">
          <h1 class="display-3">Jumbotron heading</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
        </div>

        <div class="row marketing">
          <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          </div>

          <div class="col-lg-6">
            <h4>Subheading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

            <h4>Subheading</h4>
            <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            <h4>Subheading</h4>
            <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          </div>
        </div>
-->
      </main>

      <footer class="footer">
        <p>&copy; Romans Aleksejevs. 2017</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
